.header {
    font-size: 18pt;
    background-color: gainsboro;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}

.content {
    display: flex;
}

.menu {
    height: 100vh;
    background-color: gray;
    margin-top: 0px;
}
